.text{
    margin:1%;
}

.slider {
    margin-left: 50px;
}

mat-progress-bar{
    margin:auto;
    height:1rem;
}

.clickable {
    cursor: pointer;
    width: 100%;
    padding: 18px 0 18px 0;
}

.active, .clickable:hover {
    background-color: #e7e7e7;
}
