<form [formGroup]="exportTrialForm" class="example-form">

  <fieldset [ngClass]="{'accent-color' : isExportingTrial}" [disabled]="isExportingTrial">
    <legend>elasticsearch Index</legend>
    <div fxLayout="column">
      <mat-form-field class="field-width">
        <mat-label>Select Index</mat-label>
        <input matInput placeholder="Index" aria-label="Index" [matAutocomplete]="autoIndex" formControlName="indexName" required autocomplete="off">
        <mat-autocomplete #autoIndex="matAutocomplete" (optionSelected)="updateIndexSelection($event)" [displayWith]="displayIndexNameFn">
          <mat-option *ngFor="let index of filteredIndices | async" [value]="index">
            <span>{{index.index}}</span>
            <br>
            <small class="accent-color">Count: {{index['docs.count']}}</small>
          </mat-option>
        </mat-autocomplete>
        <button type="button" mat-icon-button matSuffix mat-icon-button aria-label="Clear" (click)="indexNameControl.setValue('')" [disabled]="indexNameControl.disabled">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="none">
        <mat-slide-toggle color="primary" formControlName="overrideIndexNameToggle">
          Manual Index Entry
        </mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field>

      <mat-form-field class="field-width">
        <mat-label>Enter Index</mat-label>
        <input matInput placeholder="Index" aria-label="Index" formControlName="indexNameEntered" [pattern]="indexPattern" required autocomplete="off">
        <mat-error>Invalid index name.</mat-error>
      </mat-form-field>
    </div>
  </fieldset>

  <fieldset [ngClass]="{'accent-color' : isExportingTrial}" [disabled]="isExportingTrial">
    <legend>Trial UUID</legend>
    <div fxLayout="column">
      <mat-form-field class="field-width">
        <mat-label>Select UUID</mat-label>
        <input matInput placeholder="Trial" aria-label="Trial" [matAutocomplete]="autoTrial" formControlName="trialId" required autocomplete="off">
        <mat-autocomplete #autoTrial="matAutocomplete" (optionSelected)="updateTrialSelection($event)" [displayWith]="displayTrialIdFn">
          <mat-option *ngFor="let trial of filteredTrials | async" [value]="trial">
            <span>{{trial.name}}</span>
            <br>
            <small class="accent-color">{{trial.trial_id}}</small>
          </mat-option>
        </mat-autocomplete>
        <button type="button" mat-icon-button matSuffix mat-icon-button aria-label="Clear" (click)="trialIdControl.setValue('')" [disabled]="trialIdControl.disabled">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="none">
        <mat-slide-toggle color="primary" formControlName="overrideTrialIdToggle">
          Manual UUID Entry
        </mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Enter UUID</mat-label>
        <input matInput placeholder="UUID" aria-label="UUID" formControlName="trialIdEntered" [pattern]="uuidPattern" required autocomplete="off">
        <mat-error>Invalid UUID.</mat-error>
      </mat-form-field>
    </div>
  </fieldset>

</form>
<br>
<div fxLayout="row" fxLayoutAlign="end center">
  <mat-spinner *ngIf="isExportingTrial" mode="indeterminate" diameter="36"></mat-spinner>
  <button mat-raised-button color="primary" (click)="onExportClick()" [disabled]="!exportTrialForm.valid">Export</button>
</div>
