[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nbtlib = "*"
tqdm = "*"
pandas = "*"
ipython = "*"
pillow = "*"
mcworldlib = {path = "./mcworldlib"}

[requires]
python_version = "3.7"
